.round-button {
	border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 10px;
}
.round-button-big {
    border-radius: 50%;
    padding: 0;
    width: 200px;
    height: 200px;
    font-size: 50px;
}

.status {
    padding: 10px 20px 0;
    float: left;
}

.dot-5, .dot-4 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
		background-color: green;

}

.dot-3 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
		background-color: yellow;
}

.dot-2, .dot-1 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
        background-color: red;
}
.dot-0 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
		background-color: gray;
}

html, body {
    height: 100%;
}

header {
    height: 10%;
}

main {
    height: 89%;
}
main > * {
    margin-bottom: 30px;
}

.centralize-form {
    height: 95%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

form.search {
    min-height: 60px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex: 1 0 150px;
    height: 150px;
    max-width: 150px;
    margin: 0 .9rem 3rem;
    border-radius: 1px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: #FFF;

    transition: 200ms all;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.results .result {
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
    font-size: 20px;
    transition: 200ms all;
}
.results .result:hover {
    background-color: #EEE;
}
.results .result a {
    display: inline-block;
}