<form class="centralize-form">
    <div class="row">
      <div class="form-group col-md-6 col-xs-12 col-sm-12 col-lg-6">
        <a href="#/search">
          <button type="button" class="btn btn-default round-button-big" data-toggle="tooltip" data-placement="bottom" title="Pesquisar Estabelecimento" tooltip>
            <span class="fa fa-search" aria-hidden="true"></span>
          </button>
        </a>
      </div>
      <div class="form-group col-md-6 col-xs-12 col-sm-12 col-lg-6">
        <a href="#/register">
          <button type="button" class="btn btn-default round-button-big" data-toggle="tooltip" data-placement="bottom" title="Cadastrar Estabelecimento" tooltip>
            <span class="fa fa-plus" aria-hidden="true"></span>
          </button>
        </a>
      </div>
    </div>
</form>