<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>4All</title>

    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <form>
    <fieldset>
      <div class="container-fluid">
      	<div class="row">
      		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <!-- Form Name -->
            <legend>4All</legend>
            <div class="form-group col-md-6 col-xs-12 col-sm-12 col-lg-6">
              <button type="button" class="btn btn-default btn-lg col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
            <div class="form-group col-md-6 col-xs-12 col-sm-12 col-lg-6">
              <button type="button" class="btn btn-default btn-lg col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </div>
      		</div>
      	</div>
      </div>
    </fieldset>
    <script src="../assets/jquery/jquery-1.12.1.min.js"></script>
    <script src="../assets/angular/angular.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
