<div>
    <h2>Pesquisar estabelecimento</h2>

    <form class="search" style="border-bottom: 1px solid #ccc;">
      <div class="form-group"> 
        <div class="col-md-10 col-xs-10 col-sm-10 col-lg-10">
            <input type="text" class="form-control" id="name" placeholder="Pesquisar" ng-model="searchText" ng-change="handleSearch()">
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          <div class="fa fa-search" style="font-size: 20px; position: relative; top: 5px; left: -10px; "></div>
        </div>
      </div>

        <hr>
    </form>

    <div class="results">

      <div ng-repeat="result in results">
        <a href="#/establishment/{{result.id || $index}}">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 linha result">
            <div class="status" data-toggle="tooltip" data-placement="bottom" title="{{status[result.grade]}}" tooltip>
                <div class="bcRed dot-{{result.grade}}">
                  {{status[result.grade]}}
                </div>
            </div>
            {{result.name}}<span ng-if="result.category"> - </span>{{result.category}}
          </div>
        </a>
      </div>
    </div>

    <div class="cards">
      <a href=""></a>
      <div class="card" ng-repeat="card in cards" style="background-color: {{cardColors[$index%cardColors.length]}}">
        {{card.name}}
      </div>
    </div>
</div>