<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Estabelecimento Acessível</title>

    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
  </head>
  <body ng-app="eaApp">
    <h1>4All</h1>

    <div class="container" ng-controller="searchController">
        <h2>Pesquisar estabelecimento</h2>

        <form>
          <div class="form-group">
            <div class="form-group col-md-10 col-xs-10 col-sm-10 col-lg-10">
                <label for="name">Pesquisar</label>
                <input type="text" class="form-control" id="name" placeholder="Pesquisar">
            </div>
            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
              <div class="fa fa-search" aria-hidden="true"></div>
            </div>
          </div>

            <hr>
        </form>
        <div ng-repeat="n in estabelecimentos">
          <a href="#{{n.id}}">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 linha">
              <div class="status">
                  <div class="bcRed dot-{{n.rating}}">
                  </div>
              </div>
              {{n.nome}} - {{n.tipo}}
            </div>
          </a>
        </div>
    </div>

    <!-- vendor libs -->
    <script src="../assets/vendor/jquery/jquery-1.12.1.min.js"></script>
    <script src="../assets/vendor/angular/angular.min.js"></script>
    <script src="../assets/vendor/angular/angular-route.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- angular scripts -->
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/routes.js"></script>

    <!-- controllers -->
    <script src="../assets/js/controllers/homeController.js"></script>
    <script src="../assets/js/controllers/searchController.js"></script>
    <script src="../assets/js/controllers/advancedSearchController.js"></script>
    <script src="../assets/js/controllers/registerController.js"></script>
    <script src="../assets/js/controllers/establishmentController.js"></script>

    <!-- services -->

    <!-- directives -->
    <script src="../assets/js/directives/tooltip.js"></script>
  </body>
</html>
